body {
  min-width: 1540px;
  margin: 0 auto;

  font-family: "cera_greek", Arial, sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 24px;

  color: #000000;
  background-color: #ffffff;
}
.container {
  width: 1420px;
  margin: 0 auto;
  padding: 0 10px;
}
.main-container {
  width: 1520px;
  margin: 0 auto;
  padding: 0 10px;
}
img {
  max-width: 100%;
  height: auto;
}
