.contacts__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 41px;
  text-transform: uppercase;
}

.contacts__mail {
  display: block;
  font-family: "Cera Greek";
  font-size: 14px;
  line-height: 22px;

  color: #ffffff;
  text-decoration: none;
}
.page-foorer__tel {
  font-family: "Cera Greek";
  font-size: 14px;
  line-height: 22px;

  color: #ffffff;
  text-decoration: none;
}
