.page-main {
  @include clearfix;
}
.page-main__wrapper {
  position: relative;
  left: -242px;
  width: 960px;
  height: 879px;
  background: url("../img/men.jpg") no-repeat;
  background-position: left;
}
.page-main__services {
  float: right;
  position: relative;
  right: -625px;
  padding-top: 100px;
}
