.services__title {
  position: relative;

  width: 235px;
  margin: 0;
  padding-bottom: 25px;

  color: $primaty-txt-color;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;

  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    left: 10px;
    top: 50px;

    width: 75px;
    height: 4px;

    background: $primary-bg-color;
  }
}

.services__text {
  width: 401px;

  font-family: "cera_greek";
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 19px;
  text-align: left;

  color: $primaty-txt-color;

  @media (max-width: 1200px) {
    width: 320px;
  }
  @media (max-width: 1160px) {
    width: 300px;
  }
}
